*{ margin:0; padding:0;}
body{ height:100%;font-size:14px; font-family:"Microsoft YaHei";font-style:normal;background-color:#f5f5f5}
a{ text-decoration:none}
//a,a:hover{  transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear;}
em, i{font-style: normal;}
ul, ol, li{list-style: none;}
img{ border:none;vertical-align:middle;}
input,select,textarea{outline:none;border:none;background:none;}

.el-table th.is-leaf,.el-table--border, .el-table--group ,.el-table--border td,.el-table--border th{border-color:#F2F2F2!important}
.el-table--border{border-bottom:1px solid #F2F2F2!important;border-right:1px solid #F2F2F2!important}
.el-table__empty-block{border-bottom:red!important}
.el-table th{color: #333333!important;background-color: #C6D6EF!important;text-align: center!important;font-weight:normal!important;}
.el-table td, .el-table th{padding:7px 0!important;}
/* 表格选择对齐 */
.el-table__body-wrapper .el-table-column--selection .cell {
  padding-left: 12px!important;;
  padding-right: 11px!important;;
}

.bgan{padding:4px 8px!important;margin: 0 5px!important;} //表格缩小按钮
.wban{padding:9px 20px!important;}